.body{
  margin: 2rem;
}
.card-img-top{
  height: 125px;
  width: 125px;
  position: relative;
  margin: 0;
  transform: translate(0,10%);
}

.card{/*really need to up my game with css and bootstrap and making things look better*/
  width: 400px;
  padding: 1rem;
  top: 25px;
  left: 50px;
  bottom: 50px;
  right: 25px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.headR{/*styling for the header of the page*/
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  font-size: xx-large;
}

.clsButt{/*make the button rounded*/
  background-color:rgb(180, 180, 180);
  border-radius: 8px;
  transition-duration: 0.5s;
}

.clsButt:hover{/*this wont translate to mobile devices??*/
  background-color:rgb(38, 180, 38)
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

